html {
  background-color: #e2e2e2;

  font-family: sans-serif;
}

body {
  position: relative;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);
  position: absolute;
  transition: all .5s linear;
}

.polaroid > img {
  display: block;
  width: 100%;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
  position: absolute;
  text-align: center;
  bottom: 15px;
  width: 90%;
}

figure:nth-child(1) {
  left: 20%;
  top: 100px;
  transform: rotate(-12deg);
}

figure:nth-child(2) {
  left: 30%;
  top: 150px;
  transform: rotate(5deg);
  z-index: 900;
}

figure:nth-child(3) {
  left: 40%;
  top: 100px;
  transform: rotate(33deg);
}

.polaroid:hover {
  z-index: 1000;
  transform: rotate(0deg);
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 1);
}
